## Python与MySQL交互

In [2]:
import pymysql

In [4]:
#创建链接对象，连接本地数据库
conn = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="****", #密码
    database='test',
    charset='utf8'
)
#得到一个可以执行SQL语句的光标对象
cs = conn.cursor()

In [10]:
#创建数据库表
sql = """create table my_books(
        id int primary key not null auto_increment,
        title varchar(30) not null,
        publisher varchar(40) not null,
        price decimal(5,2) not null,
        is_delete bit default 0
)
"""
try:
    cs.execute(sql)
except Exception as error:
    print(error)
    #发生错误则回滚
    conn.rollback()

#### 下面是增删改查等操作

牵扯到数据库的变动的操作需要通过**链接对象**进行commit()

In [11]:
#增：insert into
#插入多个数据：executemany
sql = """insert into my_books (title, publisher, price) 
        values(%s, %s, %s)
"""
data = [
    ("线性代数", "高等教育出版社", 22.20),
    ("C语言程序设计", "机械工业出版社", 30.00),
    ("Python编程从入门到实践", "人民邮电出版社", 89.00),
    ("算法导论", "机械工业出版社", 128.00)
]
try:
    #批量插入数据
    cs.executemany(sql, data)
    #提交执行
    conn.commit()
except Exception as error:
    print(error)
    #发生错误则回滚
    conn.rollback()

In [12]:
#插入单个数据：execute
sql = """insert into my_books (title, publisher, price) 
        values("高等数学同济七版下册", "高等教育出版社", 31.20)
"""
try:
    #批量插入数据
    cs.execute(sql)
    #提交执行
    conn.commit()
except Exception as error:
    print(error)
    #发生错误则回滚
    conn.rollback()

In [15]:
#查：select
#查询所有数据
sql = "select * from my_books"
try:
    #执行SQL语句
    cs.execute(sql)
    #获取所有记录列表
    results = cs.fetchall()
    print(results)
    for row in results:
        id = row[0]
        title = row[1]
        publisher = row[2]
        price = row[3]
        #打印结果
        print("id:%s, title:%s, publisher:%s, price:%s" % (id, title, publisher, price))
except Exception as error:
    print(error)
    print ("Error: unable to fetch data")

((1, '线性代数', '高等教育出版社', Decimal('22.20'), b'\x00'), (2, 'C语言程序设计', '机械工业出版社', Decimal('30.00'), b'\x00'), (3, 'Python编程从入门到实践', '人民邮电出版社', Decimal('89.00'), b'\x00'), (4, '算法导论', '机械工业出版社', Decimal('128.00'), b'\x00'), (5, '高等数学同济七版下册', '高等教育出版社', Decimal('31.20'), b'\x00'))
id:1, title:线性代数, publisher:高等教育出版社, price:22.20
id:2, title:C语言程序设计, publisher:机械工业出版社, price:30.00
id:3, title:Python编程从入门到实践, publisher:人民邮电出版社, price:89.00
id:4, title:算法导论, publisher:机械工业出版社, price:128.00
id:5, title:高等数学同济七版下册, publisher:高等教育出版社, price:31.20

In [16]:
#指定条件查询：where
sql = "select * from my_books where price<100"
try:
    #执行SQL语句
    cs.execute(sql)
    #获取所有记录列表
    results = cs.fetchall()
    #打印结果
    print(results)
    for row in results:
        id = row[0]
        title = row[1]
        publisher = row[2]
        price = row[3]
        #打印指定内容
        print("id:%s, title:%s, publisher:%s, price:%s" % (id, title, publisher, price))
except Exception as error:
    print(error)
    print ("Error: unable to fetch data")

((1, '线性代数', '高等教育出版社', Decimal('22.20'), b'\x00'), (2, 'C语言程序设计', '机械工业出版社', Decimal('30.00'), b'\x00'), (3, 'Python编程从入门到实践', '人民邮电出版社', Decimal('89.00'), b'\x00'), (5, '高等数学同济七版下册', '高等教育出版社', Decimal('31.20'), b'\x00'))
id:1, title:线性代数, publisher:高等教育出版社, price:22.20
id:2, title:C语言程序设计, publisher:机械工业出版社, price:30.00
id:3, title:Python编程从入门到实践, publisher:人民邮电出版社, price:89.00
id:5, title:高等数学同济七版下册, publisher:高等教育出版社, price:31.20

In [17]:
#改：update
sql = "update my_books set price=price*0.9 where price>100"
try:
    #执行SQL语句
    cs.execute(sql)
    #提交到数据库执行
    conn.commit()
except Exception as error:
    print(error)
    #发生错误时回滚
    conn.rollback()

In [19]:
#order by (升序：asc，降序：desc)
sql = "select * from my_books order by price asc"
try:
    #执行SQL语句
    cs.execute(sql)
    #获取所有记录列表
    results = cs.fetchall()
    #打印结果
    print(results)
    for row in results:
        id = row[0]
        title = row[1]
        publisher = row[2]
        price = row[3]
        #打印指定内容
        print("id:%s, title:%s, publisher:%s, price:%s" % (id, title, publisher, price))
except Exception as error:
    #发生错误时回滚
    print(error)

((1, '线性代数', '高等教育出版社', Decimal('22.20'), b'\x00'), (2, 'C语言程序设计', '机械工业出版社', Decimal('30.00'), b'\x00'), (5, '高等数学同济七版下册', '高等教育出版社', Decimal('31.20'), b'\x00'), (3, 'Python编程从入门到实践', '人民邮电出版社', Decimal('89.00'), b'\x00'), (4, '算法导论', '机械工业出版社', Decimal('115.20'), b'\x00'))
id:1, title:线性代数, publisher:高等教育出版社, price:22.20
id:2, title:C语言程序设计, publisher:机械工业出版社, price:30.00
id:5, title:高等数学同济七版下册, publisher:高等教育出版社, price:31.20
id:3, title:Python编程从入门到实践, publisher:人民邮电出版社, price:89.00
id:4, title:算法导论, publisher:机械工业出版社, price:115.20

In [20]:
#删
#逻辑删除：将要删除的数据默认值改为1
sql1 = "update my_books set is_delete=1 where price>100"
sql2 = "select * from my_books where is_delete=0"
try:
    #执行SQL语句
    cs.execute(sql1)
    cs.execute(sql2)
    #获取所有记录列表
    results = cs.fetchall()
    for row in results:
        id = row[0]
        title = row[1]
        publisher = row[2]
        price = row[3]
        #打印指定内容
        print("id:%s, title:%s, publisher:%s, price:%s" % (id, title, publisher, price))
except Exception as error:
    #发生错误时回滚
    print(error)

id:1, title:线性代数, publisher:高等教育出版社, price:22.20
id:2, title:C语言程序设计, publisher:机械工业出版社, price:30.00
id:3, title:Python编程从入门到实践, publisher:人民邮电出版社, price:89.00
id:5, title:高等数学同济七版下册, publisher:高等教育出版社, price:31.20

In [24]:
#物理删除：delete (结果不可逆，慎用)
sql1 = "delete from my_books where price>100"
sql2 = "select * from my_books"
try:
    #执行SQL语句
    cs.execute(sql)
    #获取所有记录列表
    results = cs.fetchall()
    for row in results:
        id = row[0]
        title = row[1]
        publisher = row[2]
        price = row[3]
        #打印指定内容
        print("id:%s, title:%s, publisher:%s, price:%s" % (id, title, publisher, price))
except Exception as error:
    #发生错误时回滚
    print(error)

id:1, title:线性代数, publisher:高等教育出版社, price:22.20
id:2, title:C语言程序设计, publisher:机械工业出版社, price:30.00
id:3, title:Python编程从入门到实践, publisher:人民邮电出版社, price:89.00
id:5, title:高等数学同济七版下册, publisher:高等教育出版社, price:31.20

In [25]:
#关闭cursor对象
cs.close()
conn.close()